server:
    port: 8003

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/device_service
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        dll-auto: update
        jdbc:
          lob:
            non_contextual_creation: true
    open-in-view: false
  flyway:
      enabled: true
      url: jdbc:postgresql://localhost:5432/device_service
      user: postgres
      password: root